:root {
    --primary-color-white: white;
    --secondary-text-color: #575757;
    --secondary-color-blue: #1D4ED8;
    --font-family-inter: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.btn-common {
    padding: 12px 41px;
    color: var(--primary-color-white);
    background-color: var(--secondary-color-blue);
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.btn-outer {
    padding: 12px 41px;
    color: var(--secondary-color-blue);
    background-color: var(--primary-color-white);
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--secondary-color-blue);
    border-radius: 5px;
    cursor: pointer
}

/* //start nav style */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 0px;
}

header nav ul {
    display: flex;
    gap: 24px;
}

header nav ul li {
    list-style-type: none;
    padding: 12px 0px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--font-family-inter);
    font-size: 18px;
    font-weight: 500;

}

/* end nav style  */

/* start hero section style  */
.hero {
    text-align: center;
    padding-top: 136px;
    padding-bottom: 26px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./B14-A01-DevConf-2026/assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    color: var(--primary-color-white);
    font-family: var(--font-family-inter);
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 16px;
}

.hero p {
    color: var(--primary-color-white);
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 331px;
}

/* end hero section style  */

/* start speakers section style  */
.speakers {
    padding-top: 80px;
    padding-bottom: 136px;
    text-align: center;
}

.speakers h1 {
    margin-bottom: 56px;
    font-family: var(--font-family-inter);
    font-size: 56px;
    font-weight: 700;
}

.speakers .speakers-blog {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 32px;
}

.speakers .speakers-card {
    text-align: start;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.speakers .speakers-card img {
    width: 100%;
}

.speakers .speakers-card h4 {
    margin-top: 24px;
    padding-left: 24px;
    font-family: var(--font-family-inter);
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-color-blue);
}

.speakers .speakers-card h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 24px;
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-weight: 700;

}

.speakers .speakers-card p {
    margin-bottom: 24px;
    padding-left: 24px;
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-text-color);

}

/* end speakers section style  */

/* start pricing section style  */
.secure-your-spot {
    text-align: center;
}

.secure-your-spot h1 {
    font-family: var(--font-family-inter);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.secure-your-spot p {
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.secure-your-spot .price_card_box {
    margin-top: 48px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.secure-your-spot .price_card {
    flex: 1;
    padding: 32px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.secure-your-spot .price_card h4 {
    font-family: var(--font-family-inter);
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
}

.secure-your-spot .price_card h2 {
    font-family: var(--font-family-inter);
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
}

.secure-your-spot .price_card p {
    font-family: var(--font-family-inter);
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
}

.secure-your-spot .price_card hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.secure-your-spot .price_card ul {
    margin-bottom: 20px;
}

.secure-your-spot .price_card ul li {
    font-family: var(--font-family-inter);
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    color: #333333;
}

.secure-your-spot #pro {
    color: var(--primary-color-white);
    background-color: #0D1B2A;
}

.secure-your-spot #pro h4 {
    color: var(--secondary-color-blue);
}

.secure-your-spot #pro li {
    color: var(--primary-color-white);
}

.secure-your-spot .price_card ul li::marker {
    color: var(--secondary-color-blue);
}

/* end pricing section style  */

/* newsletter signup section style */

.newsletter {
    padding: 80px;
    text-align: center;
}

.sub-title {
    color: gray;
    margin: 10px 0 40px;
}

.newsletter-box {
    margin-top: 30px;
}

.newsletter-box input {
    width: 350px;
    padding: 14px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    margin-right: 10px;
}

/* newsletter signup section style */

/* start footer section style  */
.footer {
    background-color: #0D1B2A;
    padding: 50px 0;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-left img {
    height: 45px;
}

.footer .footer-right ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
}

.footer .footer-right ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--primary-color-white);
    font-family: var(--font-family-inter);
    font-size: 18px;
    font-weight: 500;
}

.footer .footer-right ul li a img {
    width: 20px;
    height: 20px;
}

.footer .footer-right ul li a:hover {
    color: var(--secondary-color-blue);
}

.footer hr {
    border: none;
    border-top: 1px solid #555;
    margin: 30px 0;
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-bottom p {
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: 500;
    color: #A1A1AA;
}

.footer .footer-links {
    display: flex;
    gap: 30px;
}

.footer .footer-links a {
    text-decoration: none;
    color: #A1A1AA;
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: 500;
}

.footer .footer-links a:hover {
    color: var(--secondary-color-blue);
}

/* end footer section style  */